body {
    background-color: black;
    color: lightgreen;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: lightgreen;
}

a:hover {;
    text-decoration: underline;
}

footer {
    font-size: small;
    text-align: center;
}
